.git
.github
!.github
!.github/TEAM_MEMBERS
.husky
.opencode
.sst
.turbo
.vscode
.wrangler
.zed
node_modules
**/node_modules
**/.output
dist
**/dist
!packages/opencode/dist
!packages/opencode/dist/**
**/.turbo
**/.vite
**/coverage
docker-data
.DS_Store
Thumbs.db
