.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode
.zed
.workbuddy
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/
docker-data/*
!docker-data/README.md
!docker-data/config/
!docker-data/opencode/
!docker-data/config/.gitignore
!docker-data/config/.gitkeep
!docker-data/opencode/.gitignore
!docker-data/opencode/.gitkeep

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo
log/
